.left-nav {
    height: 100%;
    width: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;

    .user-stack {
        background-color:rgba(0, 0, 0, 0.05);
        border-radius: 5px;

        .user-card * {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25rem;
        }
    }
}